.menu{
    display: flex;
    
}
.menu ul{
    text-align: center;
    margin: 25px auto;
}
.menu li{
    display: flex;
    float: left;
    margin: 0 7vw;
}
h1{
    margin-top: 50px;
    text-align: center;
}
#art1{
    float: left;
}
#art2{
    float: right;
}
#art3{
    float: left;
}
