html, body{
  margin:0px;
  padding:0px;
}

.menu{
  display: flex;
  
}
.menu ul{
  text-align: center;
  margin: 25px auto;
}
.menu li{
  display: flex;
  float: left;
  margin: 0 7vw;
}

h1{
  margin-top: 10vh;
  text-align: center;
  font-size: 7vw;
}

#sousTitre{
  text-align: center;
  margin-top: -3vh;
}