article {
    width: 90%;
    height: 100%;
    display: flex;
    position: relative;
    background-color:darkseagreen;
    margin: auto;
    margin-bottom: 50px;
}

img {
    padding: 40px;
    width: 500px;
}